[submodule "code/libs/gUse"]
	path = code/libs/gUse
	url = https://github.com/talld/gUse.git
[submodule "code/libs/3rdParty/SDL"]
	path = code/libs/3rdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
